input {
    display: block;
}
.sbm:hover {
    background-color: purple;
    transition: 1s;
}
.sbm {
    color: yellowgreen;
    background-color: blue;
}
textarea {
    width: 30%;
    height: 15px;
    resize: none;
}